
/* html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;

} */
.fa { font-family: 'FontAwesome' !important; } 

video::-webkit-media-controls {
  display: none !important;
}

.hidden {
  display: none !important;
}

.width0 {
  width: 0% !important;
}

.width-peer0 {
  width: 45% !important;
}

.width-peer1 {
  width: 45% !important;
}
.width-peer2 {
  width: 30% !important;
}
.width-peer3 {
  width: 28% !important;
}
.width-peer4 {
  width: 28% !important;
}
.width-peer5 {
  width: 28% !important;
}
.width-peer6 {
  width: 25% !important;
}

.width-peer7 {
  width: 25% !important;
}
.width-peer8 {
  width: 25% !important;
}

.width-peer {
  width: 20% !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
